<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.leitebeta.leitebeta">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppThemeNoBar"></activity>
        <activity android:name=".cadastro.CadastroActivity" />
        <activity
            android:name=".home.MainActivity"
            android:label="Leite Beta" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".perfil.PerfilActivity"
            android:label="Perfil"
            android:parentActivityName=".home.MainActivity"></activity>
    </application>

</manifest>